<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2>Добро пожаловать на страницу регистрации!</h2>

    <div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Имя">
            <input type="text" name="password" placeholder="Пароль">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Войти</button>
        </form>
    </div>
    <a href="/registration">Создание новой учетной записи</a>
</body>
</html>