<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{{#message}}
    {{message}}
{{/message}}
<div>
    <form action="/registration" method="post">
        <input type="text" name="username" placeholder="Ваше Имя">
        <input type="text" name="password" placeholder="Пароль">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>